<div>
    <div class="col-md offset-3 alert alert-success text-center" >
        <h2YOUR ACCOUNT IS CREATED SUCESSFULY</h2>
        <p>You can log in to your account with your credentials</p>
        <hr />
        <p>Thank You</p>
    </div>
</div>
